.flex-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    justify-items: center;
    background-color: #4d80e4;
    padding-bottom: 14rem;
    padding-top: 7rem;
  }