html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#root {
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.simple-trans-main > div {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: left;
  color: white;
  font-weight: 50;
  font-size: 2em;
  will-change: transform, opacity;
  text-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
}

.text {
  width: 45rem;
  height: 45rem;
  letter-spacing: 3px;
  padding-left: 10rem;
  padding-top: 18rem;
}
.paragraph {
  margin-top: 3rem;
}

.text-for-small {
  width: 45rem;
  height: 45rem;
  letter-spacing: 3px;
  padding-left: 10rem;
  padding-top: 23rem;
}
.pic {
  width: 35rem;
  height: 25rem;
  padding-left: 13rem;
  padding-top: 15rem;
}
