
.footer-component-container {
  background-color: #3F51B5;
  color: white;
  text-decoration: none;
  margin-top: 19rem;
  text-decoration: none;
  width: 100%;
  position: fixed;
  bottom: 0px;
  margin-left: -50px;
}

p {
  color: white;
}

a:link {
  text-decoration: none;
}
